# Data Collection & Manipulation
pandas==2.2.2
yfinance==0.2.38
pyspark==3.5.1
pyarrow==16.1.0

# Web Scraping & API Requests
requests==2.31.0
lxml==5.2.1
newsapi-python==0.2.7

# Web Dashboard
streamlit==1.38.0
plotly==5.22.0